<ion-view hide-back-button="false" title="Home" hide-nav-bar="false">
  <ion-content class="has-header">
    
	<div class="padding">
		Mobile banking is a service provided by a bank or other financial institution that allows its customers to conduct financial transactions remotely using a mobile
	</div>

	<div class="padding">
		<button type="submit" ng-if="user" class="button" ui-sref="app.dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</button>
	</div>



  </ion-content>
</ion-view>
